$white: #ffffff;
$white-35: rgba(255, 255, 255, 0.35);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
$black-08: rgba(0, 0, 0, 0.08);

$blue: #536DFE;
$light-blue: #7C90FF;
$blue-white: #F8F9FF;
$yellow: #ffc260;
$green: #3CD4A0;
$violet: #9013FE;
$dark-pink: #e91e62;
$pink: #ff4081;
$dark-grey: #232323;
$light-grey: #E0E0E0;
$grey: #CECECE;
$gray-06: #A0A0A0;
$gray-08: #808080;
$gray-80: #808080;

$shadow-white: rgba(0, 0, 0, 0.04);
$shadow-grey: rgba(0, 0, 0, 0.04);
$shadow-dark-grey: rgba(0, 0, 0, 0.08);

$background-color: #F0F2F5;
$pink-15: rgba(255, 64, 129, 0.15);
$blue-15: rgba(83, 109, 254, 0.15);
$green-15: rgba(60, 212, 160, 0.15);
$yellow-15: rgba(255, 194, 96, 0.15);
$violet-15: rgba(144, 19, 254, 0.15);
